<% if @current_user %>
<div id='headingText'class="row">
  <div id="typedtext">
    <h2 id="welcomeMsg">hello <%= @current_user.fname %></h2>
  </div>
</div>


  <br>
  <div id='postForm' class="row">
    <form id='newPost' method="POST" action="/posts/new">
      <label for="title">Post Title</label>
      <input type="text" name="[post]title">
       <label for="text">Post Text</label>
       <textarea name="[post]text"></textarea>
       <br>
       <input type="submit">
     </form>
  </div>
<% end %>
  <%= erb :login unless @current_user%>
  <%= erb :signup unless @current_user%>
