<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MicroBlog</title>
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <%= yield %>
    <script type="text/javascript" src='/js/main.js'>

    </script>
  </body>
</html>
