<form class="" action="/login" method="post">
  <fieldset>
    <legend>Login</legend>
    <label for="user">User</label>
    <input type="text" name="user" value="">
    <br>
    <label for="pass">Password</label>
    <input type="password" name="password" value="">
    <br>
    <input type="submit" name="" value="Login">
  </fieldset>
</form>
