<form class="" action="/login" method="post">
  <fieldset>
    <legend>Login</legend>
    <!-- <label for="user">User</label> -->
    <input type="text" name="user" placeholder="username">
    <br>
    <!-- <label for="pass">Password</label> -->
    <input type="password" name="password" value="" placeholder="password">
    <br>
    <input type="submit" value="Login">
  </fieldset>
</form>
