<form class="" action="/sign-up" method="post">
  <fieldset>
    <legend>Sign-Up</legend>
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" value="">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" value="">
    <br>
    <label for="username">Username</label>
    <input type="text" name="username" value="">
    <label for="password">Password</label>
    <input type="password" name="password" value="">
    <br>
    <input type="submit" name="" value="Submit">
  </fieldset>
</form>
